body {
  background-color: #222831;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: white;
}

.second {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  gap: 150px;
}

.third {
  margin-top: 40px;
  text-align: center;
  background: linear-gradient(#74ebd5, #acb6e5);
  color: #2a2438;
  height: 140px;
  font-style: bold;
  margin: auto;
  padding: 30px;
}

#about {
  display: flex;
  justify-content: left;
  margin-left: 50px;
  margin-top: 30px;
  font-size: 30px;
  color: white;
}

#facts {
  display: flex;
  justify-content: right;
  margin-right: 50px;
  margin-top: 30px;
  font-size: 30px;
  color: white;
}

#name {
  color: #2a2438;
  text-align: center;
  margin-top: 5px;
  margin-right: 160px;
}

#start {
  display: flex;
  justify-content: left;
  width: 150px;
  height: 150px;
}

#navbar {
  display: flex;
  justify-content: right;
  margin-top: 50px;
  margin-right: 80px;
  gap: 100px;
}

#time {
  color: grey;
  display: flex;
  justify-content: center;
  font-size: 20px;
}

#welcome {
  color: white;
  text-align: center;
  font-size: 60px;
  margin-left: 30px;
  margin-right: 30px;
}

#about {
  color: white;
}

a:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #5c5470;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: #5c5470;
  background-color: transparent;
  text-decoration: underline;
}
